.venv/
__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints
archive
part2_review/gridsearch/results/part2_hrscv_MultinomialNB_big.pkl
part2_review/gridsearch/results/part2_hrscv_LogisticRegression_big.pkl
